@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*, html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: hsl(0, 0%, 95%);
}
main{
    width: 100%;
    /*height: 90%;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper{
    margin: 100px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
section{
    padding: 50px 40px;
    width: 235px;
}
.sedans{
    background: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}
.suv{
    background: hsl(184, 100%, 22%);
}
.luxury{
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    margin: 15px 0px 0px 0px;
}
p, button{
    font-family: 'Lexend Deca', sans-serif;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 1.6;
}

button{
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 50px;
    padding: 12px 30px;
    margin: 10px 1px;
    font-size: 15px;
}
.b1{
    color: hsl(31, 77%, 52%);
}
.b2{
    color: hsl(184, 100%, 22%);
}
.b3{
    color: hsl(179, 100%, 13%);
}

.b1:hover{
    background: hsl(31, 77%, 52%);
    color:hsl(0, 0%, 95%);
}
.b2:hover{
    background: hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%);
}
.b3:hover{
    background: hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);
}

@media(min-width: 1024px){
    body{
        width: 100vw;
        height: 100vh;
        color: hsl(0, 0%, 95%);
        margin: 0;
    }
    main{
        height: 100%
    }
    .card-wrapper{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    button{
        margin: 75px 0 0 0;
    }
    h1{
        margin: 40px 0;
    }

    section{

    }
    .sedans{
        border-radius: 10px 0 0 10px;
    }
    .luxury{
        border-radius: 0 10px 10px 0;
    }
}